.header {
  padding-bottom: 113px;
}
.header__nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  padding: 33px 17px 34px 40px;
  border-radius: 20px;
}
.header__nav-left {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header__nav-toggle {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__logo {
  width: 111px;
  height: 31px;
}
.header__icon {
  margin-left: 8px;
}
.header__list {
  display: flex;
  align-items: center;

  list-style: none;
  margin-right: 14px;
}

.header__item--black {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 103px;
  height: 38px;
  background: #1f1f1f;
}

.header__item--black:hover {
  background-image: linear-gradient(
    to right,
    #44b6e9,
    #45d0bd
  ); /* Reverse gradient on hover */
  border-color: #45d0bd; /* Change border color on hover */
  cursor: pointer;
}
.header__link.header__link--black {
  color: #fff !important;
}

.header__link {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 193%;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  margin: 6px 14px 5px 24px;
}
.header__link:hover {
  background-image: linear-gradient(
    to right,
    #45d0bd,
    #44b6e9
  ); /* Gradient între roșu și albastru */
  color: transparent; /* Ascunde culoarea textului */
  background-clip: text; /* Aplică gradientul pe text */
}

/*header submenu*/

.header__nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header__search--btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: background-color 0.3s ease;
}
.header__contact--btn {
  width: 188px;
  height: 60px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 50px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #45d0bd, #44b6e9);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.header__contact--btn:hover {
  background-image: linear-gradient(
    to right,
    #44b6e9,
    #45d0bd
  ); /* Reverse gradient on hover */
  border-color: #45d0bd; /* Change border color on hover */
  cursor: pointer;
}

/*HERO-SECTION */

.hero__content {
  display: flex;
  align-items: center;
  gap: 138px;
  margin-bottom: 93px;
}

.hero__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #111;
  margin-left: 238px;
  max-width: 919px;
}

.hero__title span {
  background: linear-gradient(136deg, #8258c8 0%, #2c84c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__paragraph {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #333;
  margin-bottom: 18px;
  margin-right: 147px;
  margin-bottom: 93px;
}

.hero__button {
  width: 216px;
  height: 60px;
  border-radius: 15px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 169%;
  letter-spacing: 0.01em;
  color: #fff;
  background-color: #ef6464;
  border: navajowhite;
}

.hero__button svg {
  border-radius: 25px;
}
/*HERO__BOTTOM*/

.hero__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-size: cover, 366px;
  background-position: center, calc(100% - 350px) calc(50% + 80px);
  background-repeat: no-repeat;
  border-radius: 25px;
  background-image: url(./img/image.svg), url(./img/Group\ 18420.svg);
  height: 600px;
}

.hero__bottom__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aliniază elementele în partea de sus */
  height: 100%;
}

.hero__bottom__paragraph {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #fff;
  margin: 69px 0 0 93px;
  max-width: 482px;
}

.hero__main__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 350px;
  line-height: 17%;
  letter-spacing: -0.07em;
  color: #ecf0f4;
  margin: 170px 0 0 75px;
}

.hero__bottom__right__paragraph {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 118px;
  margin-left: 100px;
  margin-bottom: 25px;
}

/*.hero__button__right {
  width: 302px;
  height: 87px;
  background: #ecf0f4;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 187%;
  color: #333;
  background-image: url(./img/Ellipse\ 5.svg), url(./img/Polygon\ 6.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 40px center, 50px center; 
  border-radius: 25px 0;
  border: none;
  cursor: pointer;
}*/

/*.hero__button__icon{
  background-image: url(./img/Ellipse\ 5.svg), url(./img/Polygon\ 6.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 40px center, 50px center; 
  border-radius: 25px 0;
  border: none;
  cursor: pointer;
}*/
.hero__button__right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 302px;
  height: 87px;
  background: #ecf0f4;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 187%;
  color: #333;
  border-radius: 25px 0;
}

.hero__button__icon {
  position: relative;
  width: 50px; /* Ajustează dimensiunea după necesitate */
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.hero__button__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__button__play {
  width: 70%; /* Face cercul să ocupe tot butonul */
  height: auto;
}

.hero__button__right svg {
  margin-right: 15px;
}
/*neural-network-tinker*/
.neural-network-tinker {
  padding-top: 150px;
  background-color: #fff;
  padding-bottom: 158px;
}

.neural__content {
  display: flex;
}

.neural__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 100px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #000;
  max-width: 1110px;
  margin-bottom: 72px;
}
.neural__text span {
  background: linear-gradient(136deg, #8258c8 0%, #2c84c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.neural__list__logo {
  display: flex;
  align-items: center;
  gap: 92px;
}
.neural__item__logo {
  list-style: none;
}

/*SERVICES*/
.services {
  background-color: white;
  padding-bottom: 500px;
}

.services__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
}

.service__grid__container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 117%;
  letter-spacing: -0.05em;
  color: #111;
  max-width: 700px;
  margin-left: 284px;
}

.services__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 169%;
  letter-spacing: 0.01em;
  color: #333;
}
.services__button {
  border-radius: 15px;
  width: 171px;
  height: 55px;
  margin-right: 290px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  letter-spacing: 0.01em;
  color: #333;
  border: 2px solid transparent;
  border-radius: 25px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #45d0bd, #44b6e9);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.services__button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #44b6e9,
    #45d0bd
  ); 
  border-color: #45d0bd;
  cursor: pointer;
}

.service__grid__container {
  display: flex;
  gap: 25px;
}

.service__grid__block {
  width: 455px;
  height: 561px;
  background: linear-gradient(135deg, #45d0bd 0%, #44b6e9 100%);
  border-radius: 25px;
}

.service__grid__content {
  margin-top: 350px;
  margin-left: 45px;
}

.service__grid__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.03em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  max-width: 244px;
  margin-bottom: 12px;
  cursor: pointer;
}

.service__grid__description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
}
.service__grid__button {
  margin-top: 55px;
  cursor: pointer;
}

.services__description--and--button {
  display: flex;
}
/*service--grid--2*/

.service__grid__block--2 {
  border-radius: 10px 10px 0 0;
  width: 455px;
  height: 561px;
  border-radius: 25px;
  position: relative; /* Asigură poziționarea corectă a conținutului */
  background: linear-gradient(135deg, #cc83ee 0%, #a67cf5 100%) /* Gradientul */;
}

.service__grid__title--2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.03em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  max-width: 244px;
  margin-bottom: 12px;
  cursor: pointer;
  max-width: 260px;
  margin-top: 53px;
  margin-bottom: 11px;
  margin-left: 43px;
}

.service__grid__description--2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
  max-width: 377px;
  margin-left: 43px;
}
.service__grid__img--and--button {
  margin-top: 245px;
}
.service__grid__img {
  display: flex;
  margin-top: 245px;
  margin-left: 38px;
}
.service__grid__img svg {
  margin-left: 36px;
  margin-top: 20px;
  cursor: pointer;
}

/*service__grid__block--3*/
.service__grid__split__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  color: #111;
  max-width: 297px;
  padding-top: 96px;
  margin-left: 48px;
}

.service__grid__split {
  width: 391px;
  height: 191px;
  background: #ecf0f4;
  border-radius: 25px;
  background-image: url(./img/Group\ 18418.png);
  background-repeat: no-repeat;
  background-position: right top;
  margin-bottom: 11px;
}
.service__grid__split--2 {
  width: 388px;
  height: 351px;
  border-radius: 25px;
  background: linear-gradient(135deg, #cc83ee 0%, #a67cf5 100%) /* Gradientul */;
}

.service__grid__split__img {
  margin: 58px 0 30px 55px;
}

.ervice__grid__split__title {
  margin-left: 55px;
}


.service__grid__split__description--and--icon{
  display: flex;
}
.service__grid__split__description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
  margin-left: 55px;
}

.service__grid__split__button{
margin-top: 90px;
cursor: pointer;
}