.header {
  padding-bottom: 113px;
}
.header__nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  padding: 33px 17px 34px 40px;
  border-radius: 20px;
}
.header__nav-left {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header__nav-toggle {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__logo {
  width: 111px;
  height: 31px;
}
.header__icon {
  margin-left: 8px;
}
.header__list {
  display: flex;
  align-items: center;

  list-style: none;
  margin-right: 14px;
}

.header__item--black {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 103px;
  height: 38px;
  background: #1f1f1f;
}

.header__item--black:hover {
  background-image: linear-gradient(
    to right,
    #44b6e9,
    #45d0bd
  ); /* Reverse gradient on hover */
  border-color: #45d0bd; /* Change border color on hover */
  cursor: pointer;
}
.header__link.header__link--black {
  color: #fff !important;
}

.header__link {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 193%;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
  margin: 6px 14px 5px 24px;
}
.header__link:hover {
  background-image: linear-gradient(
    to right,
    #45d0bd,
    #44b6e9
  ); /* Gradient între roșu și albastru */
  color: transparent; /* Ascunde culoarea textului */
  background-clip: text; /* Aplică gradientul pe text */
}

/*header submenu*/

.header__nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header__search--btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: background-color 0.3s ease;
}
.header__contact--btn {
  width: 188px;
  height: 60px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 50px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #45d0bd, #44b6e9);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.header__contact--btn:hover {
  background-image: linear-gradient(
    to right,
    #44b6e9,
    #45d0bd
  ); /* Reverse gradient on hover */
  border-color: #45d0bd; /* Change border color on hover */
  cursor: pointer;
}

/*HERO-SECTION */

.hero__content {
  display: flex;
  align-items: center;
  gap: 138px;
  margin-bottom: 93px;
}

.hero__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #111;
  margin-left: 238px;
  max-width: 919px;
}

.hero__title span {
  background: linear-gradient(136deg, #8258c8 0%, #2c84c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__paragraph {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #333;
  margin-bottom: 18px;
  margin-right: 147px;
  margin-bottom: 93px;
}

.hero__button {
  width: 216px;
  height: 60px;
  border-radius: 15px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 169%;
  letter-spacing: 0.01em;
  color: #fff;
  background-color: #ef6464;
  border: navajowhite;
}
.hero__button:hover {
  background-color: #ec2f2f;
  cursor: pointer;
}

.hero__button svg {
  border-radius: 25px;
}
/*HERO__BOTTOM*/

.hero__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-size: cover, 366px;
  background-position: center, calc(100% - 350px) calc(50% + 80px);
  background-repeat: no-repeat;
  border-radius: 25px;
  background-image: url(./img/image.svg), url(./img/Group\ 18420.svg);
  height: 600px;
}

.hero__bottom__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aliniază elementele în partea de sus */
  height: 100%;
}

.hero__bottom__paragraph {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #fff;
  margin: 69px 0 0 93px;
  max-width: 482px;
}

.hero__main__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 350px;
  line-height: 17%;
  letter-spacing: -0.07em;
  color: #ecf0f4;
  margin: 170px 0 0 75px;
}

.hero__bottom__right__paragraph {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 118px;
  margin-left: 100px;
  margin-bottom: 25px;
}

/*.hero__button__right {
  width: 302px;
  height: 87px;
  background: #ecf0f4;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 187%;
  color: #333;
  background-image: url(./img/Ellipse\ 5.svg), url(./img/Polygon\ 6.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 40px center, 50px center; 
  border-radius: 25px 0;
  border: none;
  cursor: pointer;
}*/

/*.hero__button__icon{
  background-image: url(./img/Ellipse\ 5.svg), url(./img/Polygon\ 6.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 40px center, 50px center; 
  border-radius: 25px 0;
  border: none;
  cursor: pointer;
}*/
.hero__button__right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 302px;
  height: 87px;
  background: #ecf0f4;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 187%;
  color: #333;
  border-radius: 25px 0;
}

.hero__button__icon {
  position: relative;
  width: 50px; /* Ajustează dimensiunea după necesitate */
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.hero__button__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__button__play {
  width: 70%; /* Face cercul să ocupe tot butonul */
  height: auto;
}

.hero__button__right svg {
  margin-right: 15px;
}
/*neural-network-tinker*/
.neural-network-tinker {
  padding-top: 150px;
  background-color: #fff;
  padding-bottom: 158px;
}

.neural__content {
  display: flex;
}

.neural__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 100px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #000;
  max-width: 1110px;
  margin-bottom: 72px;
}
.neural__text span {
  background: linear-gradient(136deg, #8258c8 0%, #2c84c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.neural__list__logo {
  display: flex;
  align-items: center;
  gap: 92px;
}
.neural__item__logo {
  list-style: none;
}

/*SERVICES*/
.services {
  background-color: white;
  padding-bottom: 51px;
}

.services__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
}

.service__grid__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 117%;
  letter-spacing: -0.05em;
  color: #111;
  max-width: 700px;
  margin-left: 284px;
}

.services__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 169%;
  letter-spacing: 0.01em;
  color: #333;
}
.services__button {
  border-radius: 15px;
  width: 171px;
  height: 55px;
  margin-right: 290px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  letter-spacing: 0.01em;
  color: #333;
  border: 2px solid transparent;
  border-radius: 25px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #45d0bd, #44b6e9);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.services__button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #44b6e9, #45d0bd);
  border-color: #45d0bd;
  cursor: pointer;
}

.service__grid__container {
  display: flex;
  gap: 25px;
  margin-bottom: 120px;
}

.service__grid__block {
  width: 455px;
  height: 561px;
  background: linear-gradient(135deg, #45d0bd 0%, #44b6e9 100%);
  border-radius: 25px;
}

.service__grid__content {
  margin-top: 350px;
  margin-left: 45px;
}

.service__grid__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.03em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  max-width: 244px;
  margin-bottom: 12px;
  cursor: pointer;
}

.service__grid__description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
}
.service__grid__button {
  margin-top: 55px;
  cursor: pointer;
}

.services__description--and--button {
  display: flex;
}
/*service--grid--2*/

.service__grid__block--2 {
  border-radius: 10px 10px 0 0;
  width: 455px;
  height: 561px;
  border-radius: 25px;
  position: relative; /* Asigură poziționarea corectă a conținutului */
  background: linear-gradient(135deg, #cc83ee 0%, #a67cf5 100%) /* Gradientul */;
}

.service__grid__title--2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.03em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  max-width: 244px;
  margin-bottom: 12px;
  cursor: pointer;
  max-width: 260px;
  margin-top: 53px;
  margin-bottom: 11px;
  margin-left: 43px;
}

.service__grid__description--2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
  max-width: 377px;
  margin-left: 43px;
}
.service__grid__img--and--button {
  margin-top: 245px;
}
.service__grid__img {
  display: flex;
  margin-top: 245px;
  margin-left: 38px;
}
.service__grid__img svg {
  margin-left: 36px;
  margin-top: 20px;
  cursor: pointer;
}

/*service__grid__block--3*/
.service__grid__split__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  color: #111;
  max-width: 297px;
  padding-top: 96px;
  margin-left: 48px;
}

.service__grid__split {
  width: 391px;
  height: 191px;
  background: #ecf0f4;
  border-radius: 25px;
  background-image: url(./img/Group\ 18418.png);
  background-repeat: no-repeat;
  background-position: right top;
  margin-bottom: 11px;
}
.service__grid__split--2 {
  width: 388px;
  height: 351px;
  border-radius: 25px;
  background: linear-gradient(135deg, #cc83ee 0%, #a67cf5 100%) /* Gradientul */;
}

.service__grid__split__img {
  margin: 58px 0 30px 55px;
}

.ervice__grid__split__title {
  margin-left: 55px;
}

.service__grid__split__description--and--icon {
  display: flex;
}
.service__grid__split__description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
  margin-left: 55px;
}

.service__grid__split__button {
  margin-top: 90px;
  cursor: pointer;
}

.service__bottom__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 90px;
  line-height: 101%;
  letter-spacing: -0.03em;
  color: #111;
}

/*FEUTURES*/

.features {
  background: radial-gradient(circle, #c1aae6 0%, #f9f9f9 40%);
}
.features__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 117%;
  letter-spacing: -0.05em;
  color: #111;
  max-width: 600px;
  margin-left: 288px;
  margin-bottom: 46px;
}

.features__card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 129px;
  gap: 40px;
}

.features__item {
  max-width: 303px;

  cursor: pointer;
}

.features__img {
  margin-bottom: 23px;
}
.features__name {
  margin-bottom: 9px;
}
.features__description {
  font-family: var(--font3);
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #333;
}
/*same section   black-about */
.black__about {
  width: 1877;
  height: 1457px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%221877%22%20height%3D%221457%22%20viewBox%3D%220%200%201877%201457%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2089.7401C0%2076.2728%2010.6678%2065.2256%2024.1268%2064.7553L1851.13%200.904232C1865.27%200.410031%201877%2011.7395%201877%2025.889V1431.07C1877%201444.88%201865.81%201456.07%201852.01%201456.07L25.0125%201456.99C11.2005%201456.99%200%201445.8%200%201431.99L0%2089.7401Z%22%20fill%3D%22%231F1F1F%22%2F%3E%3C%2Fsvg%3E");
}

.black__content {
  display: flex;

  gap: 42px;
  max-width: 700px;
}

.black__img {
  padding-top: 75px;
}

.black__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.05em;
  padding-top: 265px;
  margin-bottom: 91px;

  text-shadow: 1px 1px 2px #8258c8, -1px -1px 2px #2c84c8, 1px -1px 2px #8258c8,
    -1px 1px 2px #2c84c8;
}

.black__sutitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 117%;
  letter-spacing: -0.05em;
  color: #fff;
  margin-bottom: 31px;
  max-width: 763px;
}

.black__description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
  margin-bottom: 20px;
  max-width: 772px;
}

.black__description--2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
  font-weight: 500;
  margin-bottom: 25px;
  max-width: 772px;
}

.black__button {
  width: 171px;
  height: 55px;
  margin-right: 290px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  letter-spacing: 0.01em;
  color: white;
  border: 2px solid transparent;
  border-radius: 25px;
  background-image: linear-gradient(rgb(37, 37, 37), rgb(32, 32, 32)),
    linear-gradient(to right, rgb(69, 208, 189), rgb(68, 182, 233));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.black__button:hover {
  cursor: pointer;
  color: #000;
  border-radius: 25px;
  background: linear-gradient(45deg, #00ff00, #00ffff);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 255, 0.8);
}
.black__button__icon {
  margin-left: 10px;
}
/*achievements*/
.achievemens {
  background: radial-gradient(circle, #7945ce 0%, #f9f9f9 40%);
}

.achievements__content {
  margin-left: 270px;
  margin-right: 279px;
}

.achievements__flex {
  display: flex;
  flex-wrap: wrap;
  /*display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr ; /* 3 coloane de dimensiuni egale */
  /*grid-template-rows: 1fr 1fr; /* 2 rânduri de dimensiuni egale */
  /*gap: 10px;*/
}

.achievement {
  width: 310px;
  height: 248px;
}

.achievements__heading {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 117%;
  letter-spacing: -0.05em;
  color: #ffffff;
  margin-bottom: 36px;
  max-width: 784px;
}

.achievement__stat {
  font-family: var(--font-family);
  color: white;
  text-shadow: -1px -1px 0 #8258c8, 1px -1px 0 #2c84c8, -1px 1px 0 #8258c8,
    1px 1px 0 #2c84c8;
  font-weight: 700;
  font-size: 80px;
  line-height: 62%;
  letter-spacing: -0.03em;
  margin: 79px 0 30px;
}

.achievement__metric {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 175%;
  color: #ffffff;
}

.achievement__description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #000000;
}

.achievement__row {
  padding-top: 75px;
}

.achievement__logo {
  margin-bottom: 23px;
}

.achievement__row--title {
  margin-bottom: 24px;
}
.achievement__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.achievement__list-item {
  margin-bottom: 16px;
}
.achievement__list-link {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 250%;
  color: #333;
}

.achievement__list-link img {
  margin-right: 18px;
}

.achivement__row__content {
  display: flex;
  justify-content: space-between;
}
/*TESTIOMONIAL*/
.testimonials {
  background-color: white;
}

.testimonial__content {
  display: flex;
  gap: 20px;
  padding-top: 150px;
}

.testimonial__left {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  width: 1119px;
  height: 792px;
  margin-left: 136px;

  background-image: url("data:image/svg+xml,%3Csvg width='1119' height='792' viewBox='0 0 1119 792' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 25C0 11.1929 11.1929 0 25 0H1094C1107.81 0 1119 11.1929 1119 25V767C1119 780.807 1107.81 792 1094 792H25C11.1929 792 0 780.807 0 767V25Z' fill='%231F1F1F'/%3E%3C/svg%3E");
}

.testimonial__quotes {
  padding-top: 258px;
  margin-bottom: 24px;
  margin-left: 136px;
}
.testimonial__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 849px;
  margin-bottom: 50px;
  margin-left: 136px;
}

.testimonial__author {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 219%;
  color: #fff;
  margin-left: 130px;
  margin-bottom: 205px;
}
.testimonials__buttons {
  display: flex;
  margin-left: 136px;
}

.button--left {
  border-radius: 12px 0 0 0;
  width: 70px;
  height: 35px;
  border: 0;
  cursor: pointer;
}
.button--right {
  border-radius: 0 12px 0 0;
  width: 70px;
  height: 35px;
  border: 0;
  cursor: pointer;
}

.button--left:hover {
  background: linear-gradient(45deg, #7422e6, #27a7f1);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 255, 0.8);
}
.button--right:hover {
  background: linear-gradient(45deg, #7422e6, #27a7f1);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 255, 0.8);
}
.testimonial__right {
  border-radius: 25px;
  width: 740px;
  height: 792px;

  background: linear-gradient(136deg, #8258c8 0%, #2c84c8 100%);
}

.testimonial__title {
  --font-primary: "Sora", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 117%;
  letter-spacing: -0.05em;
  color: #fff;
  margin-top: 179px;
  margin-bottom: 138px;
  margin-left: 48px;
}
.testimonial__stat {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 100px;
  line-height: 50%;
  letter-spacing: -0.05em;
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
  margin-left: 69px;
}

.testimonial__span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 175%;
  color: #fff;
  margin-left: 69px;
}
/*FAQ*/

.faq {
  min-height: 800px;
}
.section__faq {
  background: #f0f2f4;
}

.faq__content {
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: 100px;
}

.faq__content__right {
  max-width: 885px;
}

.faq__title {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 60px;
  line-height: 117%;
  letter-spacing: -0.05em;
  color: #111;
  margin-bottom: 74px;
}

.faq__item {
  border-bottom: 2px solid black;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Împinge textul la stânga și imaginea la dreapta */
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 30px;
  color: #111;
  padding: 10px 15px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.faq-question img {
  width: 10px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  margin-left: auto;
}
.faq-question.open img {
  transform: rotate(-90deg);
}

.faq-answer {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #333;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 0;
  border-bottom: 2px solid black;
}
.faq-answer.open {
  max-height: 200px;
  padding: 10px 0;
}

.faq__button {
  width: 171px;
  height: 55px;
  margin-right: 290px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  letter-spacing: 0.01em;
  color: black;
  border: 2px solid transparent;
  border-radius: 25px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(to right, rgb(69, 208, 189), rgb(68, 182, 233));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.faq__button:hover {
  cursor: pointer;
  color: #000;
  border-radius: 25px;
  background: linear-gradient(45deg, #00ff00, #00ffff);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 255, 0.8);
}
/*blog*/
.blog {
  background-color: rgb(255, 255, 255);
}
.blog__content {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-left: 265px;
  margin-bottom: 46px;
}
.blog__title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 60px;
  line-height: 117%;
  letter-spacing: -0.05em;
  color: #111;
  max-width: 630px;
  padding-top: 150px;
}
.blog__button {
  width: 171px;
  height: 55px;
  margin-right: 290px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  letter-spacing: 0.01em;
  color: black;
  border: 2px solid transparent;
  border-radius: 25px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(to right, rgb(69, 208, 189), rgb(68, 182, 233));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.blog__button:hover {
  cursor: pointer;
  color: #000;
  border-radius: 25px;
  background: linear-gradient(45deg, #00ff00, #00ffff);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 255, 0.8);
}
.blog__cards {
  display: flex;
  margin-left: 265px;
  gap: 37px;
}

.blog__cards-item {
  display: flex;
  flex-direction: column;
  width: 427px;
  height: 561px;
  border-radius: 25px;
  background: linear-gradient(
    to right,
    #ffffff,
    /* Coral */ #dde0ee /* Deep Sky Blue */
  );
  transition: background 0.3s ease;
}

.blog__cards-item:hover {
  box-shadow: 15px 20px 12px rgba(255, 255, 255, 0.6),
    /* Umbră deschisă */ -15px -20px 12px rgba(231, 234, 239, 0.6); /* Umbră cyan mai intensă */
  cursor: pointer;
}

.blog__card {
  display: flex;
  flex-direction: column;
}

.blog__img {
  width: 420px;
  height: 314px;
  margin-bottom: 50px;
  border-radius: 25px;
}

.blog__card__link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.03em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #111;
  max-width: 346px;
  margin-left: 39px;
}
/*PRTNERS*/
.partners {
  background-color: white;
}
.partners__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 117%;
  letter-spacing: -0.05em;
  color: #111;
  max-width: 737px;
  margin-bottom: 50px;
  padding-top: 153px;
}

.partners__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1342px;
}

.partners__logo__list {
  list-style: none;
}

.partners__contant {
  margin-left: 290px;
}

/*CONTACT-US*/
.contact-us {
  background: white;
}
.contact-us__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 111px;
  padding-top: 136px;
  margin-bottom: 149px;
  border-radius: 25px;
}

.contact-us__mistake {
  background: rgb(0, 0, 0);
  border-radius: 25px;
  width: 1880px;
  height: 1808px;
  background: radial-gradient(circle, #AD91FE 0%, #000000 100%);

}

.contact-us__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 60px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #ffffff;
  max-width: 578px;
  margin-bottom: 23px;
}
.contact-us__description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 187%;
  color: #ffffff;
  max-width: 518px;
  margin-bottom: 67px;
}

.contact-us__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 430px;
  gap: 20px;
}
.contact-us__label {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  color: #ffffff;
  margin-bottom: 15px;
}
.contact-us__number {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: #ffffff;
  margin-bottom: 47px;
}

.contact-us__label {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  color: #ffffff;
}

.contact-us__email {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: #ffffff;
  margin-bottom: 15px;
}

.contact-us__location {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.contact-us__address {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  color: #ffffff;
  margin-bottom: 65px;
}

.contact-us__location {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 222%;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}

.social__list {
  list-style: none;
}

.form__content {
  border-radius: 25px;
  width: 650px;
  height: 742px;
  background: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form__title {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  letter-spacing: -0.03em;
  color: #333;
  margin-top: 85px;
}

input {
  border: 1px solid #adadad;
  border-radius: 20px;
  width: 440px;
  height: 50px;
}

::placeholder {
  padding-left: 20px;
  padding-top: 20px;
}

textarea {
  border: 1px solid #adadad;
  border-radius: 20px;
  width: 440px;
  height: 175px;
}

.form__button {
  width: 171px;
  height: 55px;
  margin-right: 290px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  letter-spacing: 0.01em;
  color: black;
  border: 2px solid transparent;
  border-radius: 25px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(to right, rgb(69, 208, 189), rgb(68, 182, 233));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.form__button:hover {
  cursor: pointer;
  color: #584f4f;
  border-radius: 25px;
  background: linear-gradient(45deg, #00ff00, #00ffff);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 255, 0.8);
}

.contact__button {
  width: 171px;
  height: 55px;
  margin-right: 290px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 193%;
  letter-spacing: 0.01em;
  color: white;
  border: 2px solid transparent;
  border-radius: 25px;
  background-image: linear-gradient(rgb(37, 37, 37), rgb(32, 32, 32)),
    linear-gradient(to right, rgb(69, 208, 189), rgb(68, 182, 233));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.contact__button:hover {
  cursor: pointer;
  color: #000;
  border-radius: 25px;
  background: linear-gradient(45deg, #00ff00, #00ffff);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 255, 0.8);
}

.contact__text__bottom {
  display: flex;
  align-items: center;
}

.contact__content__bottom {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 140px 0 0 267px;
  padding-bottom: 81px;
}

.contact__title__bottom {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 80px;
  line-height: 112%;
  letter-spacing: -0.03em;
  background: linear-gradient(135deg, #45d0bd 0%, #44b6e9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 880px;
}

.line {
  width: 1338px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  border: none; /* Elimină stilul implicit */
  margin-left: 276px;
  margin-bottom: 120px;
}
/*footer**/

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 177px;
  margin: 0 275px 50px 267px;
  
}

.footer__logo {
  margin-bottom: 22px;
}

.footer__items {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
  list-style: none;
}

.footer__content--right {
  display: flex;
  gap: 90px;


}

.footer__social__item {
  margin-bottom: 16px;
}
.footer__social {
  list-style: none;
}
.footer__right__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}

.social__link {
  text-decoration: none;
  color: white;
}
.social__link:hover{
  color: green;
} 

.footer__privacy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 275px 43px 267px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #bebebe;
}


/*MEDIAQUERY*/
/* Stil pentru ecrane mari (peste 2000px) */
@media (min-width: 2000px) {
  body {
    max-width: 2000px;
    margin: auto;
  }
}

/* Laptopuri și ecrane mai mici (1200px - 1999px) */
@media (max-width: 1999px) {
  body {
    max-width: 1200px;
  }
}

/* Tablete și ecrane medii (768px - 1199px) */
@media (max-width: 1199px) {
  body {
    max-width: 90%;
  }
}

/* Telefoane mobile mari (480px - 767px) */
@media (max-width: 767px) {
  body {
    max-width: 100%;
    padding: 10px;
  }
}

/* Telefoane mici (sub 480px) */
@media (max-width: 479px) {
  body {
    font-size: 14px;
  }
}
